<!DOCTYPE html>
<html>
<head>
  <title>Currency Exchange</title>
</head>
<body>
  <h1>Currency Pairs</h1>
  <ul>
    <% @currencies.each do |symbol, description| %>
      <li>
        <a href="/<%= symbol %>">Convert 1 <%= symbol %> to...</a>
      </li>
    <% end %>
  </ul>
</body>
</html>
